@using TimeManager.Backend.ViewModels.PartialViews
@using TimeManager.Backend.ViewModels
@model PunchViewOverall

@{
    Layout = "_ListWrapper";
    ViewData["Title"] = "Punch entries";

    List<string> Headers = ["Name", "Clock In", "Clock Out"];
    List<string> OrderingKeys = ["Name", "Clock In", "Clock Out"];
    ViewData["Headers"] = Headers;
    ViewData["ModuleTitle"] = "Punches";
    ViewData["ModuleDesc"] = "Manage the punches in the system";
    ViewData["Controller"] = "Punch";

    ViewData["HasPagination"] = true;
    ViewData["OrderingKeys"] = OrderingKeys;
    ViewData["TotalPages"] = Model.Data.TotalPages;
    ViewData["TotalRecords"] = Model.Data.TotalRecords;

    IEnumerable<PunchViewModel> punches = Model.Data.Data;

    string val = Context.Request.Query["value"];

    ViewData["OrderBy"] = Model.Data.OrderBy;
    ViewData["PageSize"] = Model.Data.PageSize;
    ViewData["IsOrderDescending"] = Model.Data.IsOrderDescending;

    int offset = (Model.Data.PageNumber - 1) * Model.Data.PageSize;
}

@section CustomCreate {
    <form asp-controller="Punch"
          asp-action="Index"
          method="get">
        <input hidden name="pageNumber" value="1" />
        <input hidden name="pageSize" value="25" />
        <input hidden name="orderBy" value="ClockIn" />
        <input hidden name="isOrderDescending" value="True" />
        <input hidden name="propertyName" value="JobProfileId" />
        <input hidden name="operator" value="Equals" />

        <div class='form-group'>
            <label for='emp-select' class='form-label fw-semibold'>
                Filter by employee
            </label>
            <select id='emp-select'
                    name='value'
                    class='form-input'
                    onchange="this.form.submit()">
                <option value="-404">All</option>
                @foreach (var e in Model.Employees)
                {
                    <option value="@e.Value"
                            selected="@(val == e.Value.ToString())">@e.Text</option>
                }
            </select>
        </div>
    </form>
}

@if (punches.Count() <= 0)
{
    <tr>
        <td colspan="@Headers.Count"
            class="table-empty-cell">
            No data available
        </td>
    </tr>
}
else
{
    foreach (var d in punches)
    {
        <tr class="table-row" data-employee-id="@d.EmployeeId">
            <sn-cell counter-name="PunchEntry" start="@offset" />
            <td class="table-cell">@d.Name</td>
            <td class="table-cell">@DateTime.Parse(d.ClockInTime.ToString()).ToLocalTime().ToString("hh:mm tt, MMM dd yyyy")</td>
            @if(d.ClockOutTime is not null)
            {
                <td class="table-cell">@DateTime.Parse(d.ClockOutTime.ToString()!).ToLocalTime().ToString("hh:mm tt, MMM dd yyyy")</td>
            } else
            {
                <td class="table-cell">-</td>
            }
            @await Html.PartialAsync("ActionTd", new ActionTdViewModel
            {
                Controller = "Punch",
                Id = d.Id,
            })
        </tr>
    }
}