@{
    Layout = "_AdminLayout";
    var headers = ViewData["Headers"] as List<string>;
    bool hasCreate = ViewData["HasCreate"] as bool? ?? true;
    var controller = ViewData["Controller"] as string;
    var hasAction = ViewData["HasAction"] as string;

    // Pagination Related ViewData
    bool hasPagination = ViewData["HasPagination"] as bool? ?? false;
    int totalPages = ViewData["TotalPages"] as int? ?? 1;
    int totalRecords = ViewData["TotalRecords"] as int? ?? 1;
    var orderingKeys = ViewData["OrderingKeys"] as List<string> ?? [];
    string? orderBy = ViewData["OrderBy"] as string;
    string? isDescending = ViewData["IsOrderDescending"] as string;

    int currentPage = int.TryParse(Context.Request.Query["pageNumber"], out var cp) ? cp : 1;
    int pageSize = int.TryParse(Context.Request.Query["pageSize"], out var ps) ? ps : ViewData["PageSize"] as int? ?? 10;

    string? currentOrderBy = orderBy ?? Context.Request.Query["orderBy"];
    bool currentIsDescending = !string.IsNullOrEmpty(Context.Request.Query["isOrderDescending"]) 
        ? Context.Request.Query["isOrderDescending"] == "True" 
        : string.IsNullOrEmpty(isDescending) 
            ? false 
            : isDescending == "True";

    string? propertyName = Context.Request.Query["propertyName"];
    string? operatorType = Context.Request.Query["operator"];
    string? value = Context.Request.Query["value"];

    string? nextOrderBy = null;
    string? nextIsDescending = "False";
}

<div class="page-container">
    <div class="page-content-wrapper">

        <div class="page-header">
            <div>
                <h1 class="page-title">
                    @ViewData["ModuleTitle"]
                </h1>

                <p class="page-subtitle">
                    @ViewData["ModuleDesc"]
                </p>
            </div>

            <div class="create-fields">
                @RenderSection("CustomCreate", false)

                @if (IsSectionDefined("modalcontent"))
                {
                    @section modalcontent {
                        @RenderSection("modalcontent", required: false)
                    }
                }
                
                @if (hasCreate)
                {
                    <a asp-controller="@controller" asp-action="Create" class="btn btn-create">
                        Create
                    </a>
                }
            </div>
        </div>

        @if (hasPagination)
        {
            <div class="pagination-wrapper">
                <div class="pagination-limit-controller">
                    <form method="get" id="pageSizeForm" asp-action="Index" asp-controller="@controller">
                        <input hidden name="pageNumber" value="1" />

                        <input hidden name="orderBy" value="@currentOrderBy" />
                        <input hidden name="isOrderDescending" value="@(currentIsDescending ? "True" : "False")" />
                        <input hidden name="propertyName" value="@propertyName" />
                        <input hidden name="operator" value="@operatorType" />
                        <input hidden name="value" value="@value" />

                        <div class="d-flex align-items-center">
                            <label for="pageSize" class="me-2 mb-0 text-nowrap">Rows Per Page:</label>
                            <select id="pageSize" name="pageSize" class="form-select form-select-sm" onchange="this.form.submit()">
                                    <option value="5" selected="@(pageSize == 5)">5</option>
                                    <option value="10" selected="@(pageSize == 10)">10</option>
                                    <option value="25" selected="@(pageSize == 25)">25</option>
                                    <option value="50" selected="@(pageSize == 50)">50</option>
                                </select>
                            </div>
                    </form>
                </div>
                <div class="pagination-page-controller">
                    <a 
                        asp-controller="@controller"
                        asp-action="Index"
                        asp-route-pageNumber="@(currentPage - 1)"
                        asp-route-pageSize="@pageSize"
                        asp-route-orderBy="@currentOrderBy"
                        asp-route-isOrderDescending="@currentIsDescending"
                        asp-route-propertyName="@propertyName"
                       asp-route-operator="@operatorType"
                       asp-route-value="@value"
                       tabindex="@(currentPage == 1 ? "-1" : "0")"
                        class="btn btn-pag-arrow @(currentPage == 1 ? "btn-pag-arrow-disable" : "")"
                    >
                        <i class="ri-arrow-left-s-line"></i>
                    </a>

                    @for(int i = 1; i <= totalPages; i++)
                    {          
                        @if (new[] { 1, totalPages, currentPage, currentPage-1, currentPage+1 }.Contains(i))
                        {
                            <a
                                asp-controller="@controller"
                                asp-action="Index"
                                asp-route-pageNumber="@i"
                                asp-route-pageSize="@pageSize"
                                asp-route-orderBy="@currentOrderBy"
                                asp-route-isOrderDescending="@currentIsDescending"
                               asp-route-propertyName="@propertyName"
                               asp-route-operator="@operatorType"
                               asp-route-value="@value"
                                class="btn btn-pag-number @(i == currentPage ? "btn-pag-number-selected":"")"
                            >
                                @i
                            </a>
                        } else if (i % 2 == 0)
                        {
                            <span>.</span>
                        }
                    }
                    <a
                        asp-controller="@controller"
                        asp-action="Index"
                        asp-route-pageNumber="@(currentPage + 1)"
                        asp-route-pageSize="@pageSize"
                       asp-route-orderBy="@currentOrderBy"
                       asp-route-isOrderDescending="@currentIsDescending"
                       asp-route-propertyName="@propertyName"
                       asp-route-operator="@operatorType"
                       asp-route-value="@value"
                       tabindex="@(currentPage >= totalPages ? "-1" : "0")"
                        class="btn btn-pag-arrow @(currentPage >= totalPages ? "btn-pag-arrow-disable" : "")">
                        <i class="ri-arrow-right-s-line"></i>
                    </a>
                </div>
            </div>
        }

        <div class="table-card">
            <div class="table-responsive">
                <table class="data-table">

                    <thead class="table-header">
                        <tr>
                            @foreach (var header in headers!)
                            {
                                if (currentOrderBy == header)
                                {
                                    if (!currentIsDescending)
                                    {
                                        nextOrderBy = header;
                                        nextIsDescending = "True";
                                    } else
                                    {
                                        nextOrderBy = null;
                                        nextIsDescending = "False";
                                    }
                                } else
                                {
                                    nextOrderBy = header;
                                    nextIsDescending = "False";
                                }

                                <th class="table-header-cell">
                                    @if (hasPagination && orderingKeys.Contains(header))
                                    {  
                                        <a
                                            asp-controller="@controller"
                                            asp-action="Index"
                                            asp-route-pageNumber="@currentPage"
                                            asp-route-pageSize="@pageSize"
                                            asp-route-orderBy="@nextOrderBy"
                                            asp-route-isOrderDescending="@nextIsDescending"
                                           asp-route-propertyName="@propertyName"
                                           asp-route-operator="@operatorType"
                                           asp-route-value="@value"
                                            class="table-header-orderable-cell table-header-cell-inner"
                                        >
                                            @header
                                            
                                            @if (!string.IsNullOrEmpty(currentOrderBy) && currentOrderBy.ToLower() == header.ToLower())
                                            {
                                                <span class="table-header-order-icon">
                                                        @if (currentIsDescending)
                                                    {
                                                            <i class="ri-arrow-up-s-line"></i>
                                                            <i class="ri-arrow-down-s-fill"></i>
                                                    } else
                                                    {
                                                            <i class="ri-arrow-up-s-fill"></i>
                                                            <i class="ri-arrow-down-s-line"></i>
                                                    }
                                                </span>
                                            }
                                        </a>
                                    } else
                                    {
                                        <span class="table-header-cell-inner">
                                            @header
                                        </span>
                                    }
                                </th>
                            }
                            @if (hasAction != "false")
                            {
                                <th class="table-header-cell table-header-cell-inner">
                                    Action
                                </th>
                            }
                        </tr>
                    </thead>

                    <tbody class="table-body">
                        @RenderBody()
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

@RenderSection("scripts", required: false)
