@using TimeManager.Backend.Extensions
@using TimeManager.Backend.Common

@{
    List<LinkGroup> _links = [
        new LinkGroup {
        Title = "General",
        ByRole = AppConstants.AllRoles(),
        LinkData = [

        new LinkProps {
        Text = "Dashboard",
        Url = "dashboard",
        IconClass = "ri-layout-grid-line",
        Roles = AppConstants.AllRoles(),
        },
        new LinkProps {
        Text = "Report",
        Url = "report",
        IconClass = "ri-file-chart-line",
        Roles = AppConstants.AdminRoles(),
        }
        ],
        },

                      new LinkGroup {
                            Title = "Administration",
                            ByRole = [AppConstants.SUPER_ADMIN_ROLE],
                            LinkData = [
                                 new LinkProps {
                                    Text = "Department",
                                    Url = "department",
                                    IconClass = "ri-building-4-line",
                                    Roles = [AppConstants.SUPER_ADMIN_ROLE]
                                 },
                                new LinkProps {
                                    Text = "Roles",
                                    Url = "role",
                                    IconClass = "ri-group-3-line",
                                    Roles = [AppConstants.SUPER_ADMIN_ROLE]
                                },
                                new LinkProps {
                                    Text = "Users",
                                    Url = "user",
                                    IconClass = "ri-user-line",
                                    Roles = [AppConstants.SUPER_ADMIN_ROLE]
                                },
                            ],
},

        new LinkGroup {
        Title = "Organization",
        ByRole = AppConstants.AdminRoles(),
        LinkData = [

       
        new LinkProps {
        Text = "Unit",
        Url = "unit",
        IconClass = "ri-archive-drawer-line",
        Roles = AppConstants.AdminRoles(),
        },
        new LinkProps {
        Text = "Kiosk",
        Url = "kiosk",
        IconClass = "ri-computer-line",
        Roles = [AppConstants.SUPER_ADMIN_ROLE]
        },
        new LinkProps {
        Text = "Punches",
        Url = "punch",
        IconClass = "ri-hourglass-line",
        Roles = AppConstants.AdminRoles(),
        },

        new LinkProps {
        Text = "Pay Period",
        Url = "payperiod",
        IconClass = "ri-calendar-2-line",
        Roles = [AppConstants.SUPER_ADMIN_ROLE]
        },

        new LinkProps {
        Text = "Employee Type",
        Url = "employeetype",
        IconClass = "ri-group-line",
        Roles = [AppConstants.SUPER_ADMIN_ROLE]
        },
        new LinkProps {
        Text = "Pay Frequency",
        Url = "payfrequency",
        IconClass = "ri-bill-line",
        Roles = [AppConstants.SUPER_ADMIN_ROLE]
        },
        ],
        },

        new LinkGroup {
        Title = "Employee",
        ByRole = AppConstants.TopLevelRoles(),
        LinkData = [
            new LinkProps {
                Text = "Employee",
                Url = "employee",
                IconClass = "ri-folder-user-line",
                Roles = AppConstants.AdminRoles(),
            },
            new LinkProps {
                Text = "Profile Template",
                Url = "profiletemplate",
                IconClass = "ri-file-user-line",
                Roles = AppConstants.AdminRoles(),
            },
            new LinkProps {
                Text = "Job Profile",
                Url = "jobprofile",
                IconClass = "ri-account-pin-box-line",
                Roles = AppConstants.AdminRoles(),
            },
            new LinkProps {
                Text = "Scheduler",
                Url = "scheduler",
                IconClass = "ri-calendar-line",
                Roles = AppConstants.TopLevelRoles(),
            }
        ],
    },
    ];
}


<aside class="sidebar">
    <div>
        <div class="sidebar-brand-container">
            <div class="sidebar-logo">Ω</div>
            <span class="sidebar-title">Time Clock</span>
        </div>
        <nav class="sidebar-nav-container">
            <a href="#main-content" class="skip-link">Skip to main content</a>

            @foreach (var grp in _links)
            {
                @if (User.IsInAnyRole(grp.ByRole))
                {
                    <div>
                        <span class="sidebar-group-label">@grp.Title</span>

                        <ul class="sidebar-nav-list">
                        @foreach (var link in grp.LinkData)
                        {
                            @if (User.IsInAnyRole(link.Roles))
                            {
                                var targetUrl = $"/app/{link.Url}";

                                bool IsActive = string.Equals(ViewContext.HttpContext.Request.Path.ToString().Split("/")[2], link.Url, StringComparison.OrdinalIgnoreCase);
                                <li>
                                    <a href="@targetUrl" class="sidebar-link @(IsActive ? "is-active" : "")">
                                        <i class="@link.IconClass sidebar-link-icon"></i>
                                        <span>@link.Text</span>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                    </div>
                }
            }

            @* <div>
                <span class="sidebar-group-label">Time Track</span>
                <ul class="sidebar-nav-list">
                    <li>
                        <SidebarNav Text="Time off requests"
                                    Url="/app/timeoff-request"
                                    IconClass="ri-list-check" />
                    </li>
                </ul>
            </div> *@
        </nav>
    </div>
</aside>

@functions {
    public class LinkGroup
    {
        public string Title { get; set; } = string.Empty;
        public List<LinkProps> LinkData { get; set; } = new();
        public string[] ByRole { get; set; } = [];
    }

    public class LinkProps
    {
        public string Text { get; set; } = string.Empty;
        public string Url { get; set; } = string.Empty;
        public string IconClass { get; set; } = string.Empty;
        public string[] Roles { get; set; } = [];
    }
}