@model TimeManager.Backend.ViewModels.PartialViews.ActionTdViewModel

<td class="table-actions">
    @if(Model.HasDelete)
    {
        <form method="post" asp-controller="@Model.Controller" asp-action="Delete" asp-route-id="@Model.Id" onsubmit="return confirm('Delete this resource?')">
            @Html.AntiForgeryToken()
            <button class="btn btn-action-delete">
                <i class="ri-delete-bin-7-line"></i>
            </button>
        </form>
        
        @* @section modalcontent {
            <div class="modal-content">
                <form method="post" asp-controller="@Model.Controller" asp-action="Delete" asp-route-id="@Model.Id">
                    @Html.AntiForgeryToken()
                    <p>Do you want to delete this resource?</p>

                    <button type="button" class="btn btn-action-edit btn-modal-close">No, Cancel</button>
            
                    <button type="submit" class="btn btn-action-delete">
                        Yes, Delete
                    </button>
                </form>
            </div>
        } *@
    }


    @if(Model.HasEdit)
    {
        <a asp-controller="@Model.Controller" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-action-edit">
            <i class="ri-edit-line"></i>
        </a>
    }
</td>