@page "/"
@layout MainLayout

@rendermode InteractiveServer

@using TimeManager.Frontend.Components.Shared
@using TimeManager.Frontend.Auth

@inject CookieAuthStateProvider AuthProvider
@inject HttpClient Http
@inject NavigationManager Navigation

<HeadContent>
    <link rel="stylesheet" href="@Assets["css/login.css"]" />
</HeadContent>

<PageTitle>Home</PageTitle>

<div class="login-container">
    <div class="form-wrapper">
        <h2 class="form-title text-center">
            Welcome back
        </h2>
        <p class="form-subtitle text-center">
            Please sign in to your account
        </p>
    </div>

    <div class="mt-8 form-wrapper">
        <div class="form-card">
            <EditForm Model="@loginDto" FormName="LoginUserForm" OnValidSubmit="HandleLogin" class="space-y-6">
                <DataAnnotationsValidator />
                <ValidationSummary class="text-red-600 mb-4" />

                @if (!String.IsNullOrEmpty(@Error))
                {   
                <div class="error-alert">
                    <div class="flex">
                        <div class="text-sm text-red-700">
                            <p>@Error</p>
                        </div>
                    </div>
                </div>
                }

                <Input @bind-Value="loginDto.Email" Required Label="User ID / Username" Name="username" Placeholder="Enter your user ID" />
                <Input @bind-Value="loginDto.Password" Required Type="password" Label="Password" Name="password" Placeholder="Enter your password" />

                <CustomButton 
                    Loading="@isLoading" 
                    Disabled="@isLoading" 
                    Type="submit" 
                    Classes="btn-submit">
                    Submit
                   </CustomButton>
            </EditForm>
        </div>
    </div>
</div>

@code {
    private bool isLoading = false;
    private LoginModel loginDto = new();
    private string? Error;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthProvider.GetAuthenticationStateAsync();
        if (authState.User.Identity?.IsAuthenticated == true)
            Navigation.NavigateTo("/app/dashboard", forceLoad: true);
    }

    private async Task HandleLogin()
    {
        isLoading = true;

        var (success, err) = await AuthProvider.LoginAsync(loginDto.Email, loginDto.Password);
        if (success)
            Navigation.NavigateTo("/app/dashboard", forceLoad: true);
        else
            Error = err;

        isLoading = false;
    }

    private class LoginModel
    {
        public string Email { get; set; } = "";
        public string Password { get; set; } = "";
    }
}