@page "/"
@layout MainLayout

@rendermode InteractiveServer

@using TimeManager.Frontend.Components.Shared
@using System.Net.Http.Json

@inject HttpClient Http
@inject NavigationManager Navigation

<HeadContent>
    <link rel="stylesheet" href="@Assets["css/login.css"]" />
</HeadContent>

<PageTitle>Home</PageTitle>

<div class="login-container">
    <div class="form-wrapper">
        <h2 class="form-title text-center">
            Welcome back
        </h2>
        <p class="form-subtitle text-center">
            Please sign in to your account
        </p>
    </div>

    <div class="mt-8 form-wrapper">
        <div class="form-card">
            <EditForm Model="@loginDto" FormName="LoginUserForm" OnValidSubmit="Login" class="space-y-6">
                <DataAnnotationsValidator />
                <ValidationSummary class="text-red-600 mb-4" />

                @if (!String.IsNullOrEmpty(@Error))
                {   
                <div class="error-alert">
                    <div class="flex">
                        <div class="text-sm text-red-700">
                            <p>@Error</p>
                        </div>
                    </div>
                </div>
                }

                <Input @bind-Value="loginDto.Username" Required Label="User ID / Username" Name="username" Placeholder="Enter your user ID" />
                <Input @bind-Value="loginDto.Password" Required Type="password" Label="Password" Name="password" Placeholder="Enter your password" />

                <Button 
                    Loading="@isLoading" 
                    Disabled="@isLoading" 
                    Type="submit" 
                    Classes="btn-submit">
                    Submit
                   </Button>
            </EditForm>
        </div>
    </div>
</div>

@code {
    private bool isLoading = false;
    private string? Error;

    public LoginDto loginDto { get; set; } = new LoginDto();

    private async Task Login()
    {
        isLoading = true;
        try
        {
            HttpResponseMessage responseMessage = await Http.PostAsJsonAsync("/api/auth/simpletestlogin", loginDto);

            if (responseMessage.IsSuccessStatusCode)
            {
                Navigation.NavigateTo("/app/dashboard");
            } else
            {
                Error = "Incorrect User Id or Password";
            }
        } catch (Exception ex)
        {
            Error = ex.Message;
            Console.WriteLine(ex);
        } finally
        {
            isLoading = false;
        }
    }

    public class LoginDto
    {
        public string Username { get; set; } = "";
        public string Password { get; set; } = "";
    }
}