@typeparam TValue;

<div class="w-full">
    @if (!string.IsNullOrEmpty(Label))
    {
        <label for="@Id" class="block text-sm font-medium text-gray-700 mb-1">
            @Label 
            @if (Required)
            {
                <span class="text-red-500">*</span>
            }
        </label>
    }

    <div class="relative rounded-md shadow-sm">
        <input id="@Id"
               name="@Name"
               type="@Type"
               value="@Value"
               placeholder="@Placeholder"
               required="@Required"
               @oninput="ValueChangedHandler"
               class="appearance-none text-black block w-full px-3 py-2.5 border border-gray-300 rounded-lg shadow-sm placeholder-gray-400 focus:outline-none focus:ring-black focus:border-black text-sm transition duration-150">
    </div>

    @if (!string.IsNullOrEmpty(Error))
    {
        <p class="mt-1.5 text-sm text-red-600">@Error</p>
    }
</div>

@code {
    [Parameter] public string Id { get; set; } = Guid.NewGuid().ToString();
    [Parameter] public required string Name { get; set; }
    [Parameter] public string Label { get; set; } = "";
    [Parameter] public string Type { get; set; } = "text";
    [Parameter] public string Placeholder { get; set; } = "";
    [Parameter] public TValue? Value { get; set; }
    [Parameter] public EventCallback<TValue> ValueChanged { get; set; }
    [Parameter] public bool Required { get; set; } = true;
    [Parameter] public string? Error { get; set; } = null;

    private async Task ValueChangedHandler(ChangeEventArgs e)
    {
        var valueAsString = e.Value?.ToString();

        // if (typeof(TValue) == typeof(System.Net.IPAddress))
        // {
        //     if(System.Net.IPAddress.TryParse(valueAsString, out var ip))
        //     {
        //         Console.WriteLine("Changed to IPADDRESS");
        //         await ValueChanged.InvokeAsync((TValue)(object)ip);
        //     } else if (string.IsNullOrEmpty(valueAsString))
        //     {
        //         await ValueChanged.InvokeAsync(default);
        //     }
        //     return;
        // }

        if (BindConverter.TryConvertTo<TValue>(valueAsString, 
            System.Globalization.CultureInfo.CurrentCulture, 
            out var parsedValue))
        {
            Console.WriteLine("Changed to string");
            await ValueChanged.InvokeAsync(parsedValue);
        } else
        {
            Console.WriteLine("Changed to default");
            await ValueChanged.InvokeAsync(default);
        }
    }
}