@typeparam TValue;

<div class="form-group">
    @if (!string.IsNullOrEmpty(Label))
    {
        <label for="@Id" class="form-label">
            @Label 
            @if (Required)
            {
                <span class="form-required">*</span>
            }
        </label>
    }

    <div class="form-input-wrapper">
        <input id="@Id"
               name="@Name"
               type="@Type"
               value="@Value"
               placeholder="@Placeholder"
               required="@Required"
               @oninput="ValueChangedHandler"
               class="form-input"
                autofocus="@AutoFocus"
        />

    </div>

    @if (!string.IsNullOrEmpty(Error))
    {
        <p class="form-error">@Error</p>
    }
</div>

@code {
    [Parameter] public string Id { get; set; } = Guid.NewGuid().ToString();
    [Parameter] public required string Name { get; set; }
    [Parameter] public string Label { get; set; } = "";
    [Parameter] public string Type { get; set; } = "text";
    [Parameter] public string Placeholder { get; set; } = "";
    [Parameter] public TValue? Value { get; set; }
    [Parameter] public EventCallback<TValue> ValueChanged { get; set; }
    [Parameter] public bool Required { get; set; } = true;
    [Parameter] public bool AutoFocus { get; set; } = false;
    [Parameter] public string? Error { get; set; } = null;

    private async Task ValueChangedHandler(ChangeEventArgs e)
    {
        var valueAsString = e.Value?.ToString();

        if (typeof(TValue) == typeof(System.Net.IPAddress))
        {
            if(System.Net.IPAddress.TryParse(valueAsString, out var ip))
            {
                await ValueChanged.InvokeAsync((TValue)(object)ip);
            } else if (string.IsNullOrEmpty(valueAsString))
            {
                await ValueChanged.InvokeAsync(default);
            }
            return;
        }

        if (BindConverter.TryConvertTo<TValue>(valueAsString, 
            System.Globalization.CultureInfo.CurrentCulture, 
            out var parsedValue))
        {
            await ValueChanged.InvokeAsync(parsedValue);
        } else
        {
             await ValueChanged.InvokeAsync(default);
        }
    }
}