@page "/app/job-profile/edit/{id:int}"

@rendermode InteractiveServer
@inject HttpClient Http

@using TimeManager.Frontend.Components.Shared
@using TimeManager.Frontend.Components.Wrapper
@using TimeManager.Frontend.Components.Pages.Admin.EmployeeManagement.Employee
@using TimeManager.Frontend.Components.Pages.Admin.EmployeeManagement.ProfileTemplate

<PageTitle>Job Profile - Edit</PageTitle>

<FormWrapper Title="Job Profile"
             Subtitle="Edit job profile to the system"
             BackUrl="/app/job-profile"
             FormName="JobProfileEditForm"
             Model="@jobProfile"
             OnSubmit="HandleSubmit"
             OnCancel="Cancel">
    <Select Name="EmployeeId"
            TValue="int"
            Label="Employee"
            Placeholder="Choose an employee"
            @bind-Value="jobProfile.EmployeeId">
        @foreach (var et in employees)
        {
            <option value="@et.Id">@et.FirstName @et.LastName</option>
        }
    </Select>
    <Select Name="ProfileTemplateId"
            TValue="int"
            Label="Profile Template"
            Placeholder="Choose a profile Template"
            @bind-Value="jobProfile.ProfileTemplateId">
        @foreach (var pf in profileTemplates)
        {
            <option value="@pf.Id">@pf.Unit?.Name / @pf.Role?.Name</option>
        }
    </Select>
</FormWrapper>

@code {
    [Parameter]
    public int Id { get; set; }

    private bool _hasDataLoaded = false;
    private JobProfileModel jobProfile = new();
    private ProfileTemplateModel[] profileTemplates = [];
    private EmployeeModel[] employees = [];

    protected override async Task OnParametersSetAsync()
    {
        if (!_hasDataLoaded)
        {
            try
            {
                var data = await Http.GetFromJsonAsync<JobProfileModel>($"/api/jobprofile/{Id}");

                if (data != null)
                {
                    jobProfile = data;
                    _hasDataLoaded = true;
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex);
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            profileTemplates = await Http.GetFromJsonAsync<ProfileTemplateModel[]>("/api/profiletemplate");
            jobProfile.ProfileTemplateId = profileTemplates[0].Id;

            employees = await Http.GetFromJsonAsync<EmployeeModel[]>("/api/employee");
            jobProfile.EmployeeId = employees[0].Id;
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }

    private async Task<string> HandleSubmit()
    {
        try
        {
            HttpResponseMessage responseMessage = await Http.PatchAsJsonAsync($"api/jobprofile/{Id}", jobProfile);

            if (responseMessage.IsSuccessStatusCode)
            {
                return "";
            }
            else
            {
                var problemDetails = await responseMessage.Content.ReadFromJsonAsync<System.Text.Json.Nodes.JsonObject>();
                return problemDetails?["detail"]?.ToString() ?? "An unexpected error occured";
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            return ex.Message;
        }
    }

    private Task Cancel()
    {
        return Task.CompletedTask;
    }
}