@page "/app/kiosk"

@inject HttpClient Http

@using TimeManager.Frontend.Components.Pages.Admin._Components
@using TimeManager.Frontend.Components.Wrapper

<PageTitle>Kiosk</PageTitle>

<ListWrapper 
    Title="Kiosk"
    Subtitle="Manage the devices"
    Headers="@headers"
    isEmpty="isEmpty"
    CreateUrl="/app/kiosk/create"
  >  
    @foreach(var d in devices)
    {
        <tr class="table-row">
            <td class="table-cell">@d.Name</td>
            <td class="table-cell">@d.AllowedIPAddress</td>
            <td class="table-cell">@d.Department?.Name</td>
            <ActionTD 
                Url="@($"/app/kiosk/edit/{d.Id}")"
             />
        </tr>
    }
    </ListWrapper>

@code {
    private string[] headers { get; set; } = ["Name", "Allowed IP Address",  "Department"];
    private DeviceModel[] devices = [];

    protected override async Task OnInitializedAsync()
    {
        try
        {
            devices = await Http.GetFromJsonAsync<DeviceModel[]>("api/kiosk");
        } catch(Exception ex)
        {
            Console.WriteLine(ex);
        }
    }

    private bool isEmpty => devices.Length == 0;
}

