@using TimeManager.Backend.Models.Components
@using TimeManager.Backend.Models.Responses
@using TimeManager.Backend.Common
@using TimeManager.Backend.ViewModels
@model PagedResponse<EmployeeViewModel>

@{
    Layout = "_ListWrapper";
    ViewData["Title"] = "Employee";

    List<string> Headers = ["SO Id", "Name", "Email"];
    ViewData["Headers"] = Headers;
    ViewData["ModuleTitle"] = "Employee";
    ViewData["ModuleDesc"] = "Manage the employee data in the system";
    ViewData["Controller"] = "Employee";

    ViewData["HasPagination"] = true;
    ViewData["TotalPages"] = Model.TotalPages;
    ViewData["CurrentPage"] = Model.PageNumber;
    ViewData["TotalRecords"] = Model.TotalRecords;
    ViewData["PageSize"] = Model.PageSize;
}

@if (User.IsInRole(AppConstants.ADMIN_ROLE))
{
    @section CustomCreate {
        <button class="btn-create btn-modal">Bulk create</button>
    }

    @section modalcontent {
        <partial name="_BulkCreateForm" model='new BulkCreateModel() { Controller = "Employee" }' />
    }
}


@if (Model.Data.Count() <= 0)
{
    <tr>
        <td colspan="@Headers.Count"
            class="table-empty-cell">
            No data available
        </td>
    </tr>
}
else
{
    foreach (var d in Model.Data)
    {
        <tr class="table-row">
            <td class="table-cell">@d.UniqueId</td>
            <td class="table-cell">@d.FirstName @d.LastName</td>
            <td class="table-cell">@d.Email</td>
            @await Html.PartialAsync("ActionTd", new ActionTdViewModel
{
        Controller = "Employee",
        Id = d.Id,
        HasEdit = true,
        HasDelete = true,
})
        </tr>
    }
}