@model TimeManager.Backend.ViewModels.ReportViewModel

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Report Generate";

    TimeZoneInfo.FindSystemTimeZoneById(
    System.Runtime.InteropServices.RuntimeInformation.IsOSPlatform(
        System.Runtime.InteropServices.OSPlatform.Windows)
            ? "Central Standard Time"
            : "America/Chicago");
}

<div class="page-container">
    <div class="page-content-wrapper">

        <div class="page-header">
            <div>
                <h1 class="page-title">
                    Reports
                </h1>

                <p class="page-subtitle">
                    Get Reports by Unit or Employee Profile
                </p>
            </div>
        </div>

            <form asp-controller="Report" method="post" asp-action="GenerateReportByJPId">
                @Html.AntiForgeryToken()
                    <custom-select 
                        asp-for="PayPeriodId"
                        asp-items="@Model.PayPeriods"
                        placeholder="-- Select Pay Period"
                    />

                    <custom-select 
                        asp-for="UserId"
                        asp-items="@Model.Users"
                        placeholder="-- Select User --"
                        required="true"
                    />

                    <button type="submit" class="btn btn-primary px-4">
                        <i class="bi bi-file-earmark-bar-graph"></i> Generate Report By Employee Profile
                    </button>
            </form>

        <form asp-controller="Report" method="post" asp-action="GenerateReportByUnitId">
            @Html.AntiForgeryToken()
                <custom-select asp-for="PayPeriodId"
                               asp-items="@Model.PayPeriods"
                               placeholder="-- Select Pay Period" />

                <custom-select asp-for="UnitId"
                               asp-items="@Model.Units"
                               placeholder="-- Select Unit --"
                               required="true"
                               />

                <button type="submit" class="btn btn-primary px-4">
                    <i class="bi bi-file-earmark-bar-graph"></i> Generate Report By Unit
                </button>
        </form>
    </div>
</div>
