@using TimeManager.Frontend.Components.Shared

<div class="page-container">
    <div class="page-content-wrapper">

        <div class="page-header">
            <a href="@BackUrl"
               class="btn-back">
                ← Back
            </a>

            <div>
                <h1 class="page-title">
                    @if (!isEdit)
                    {
                        @("Create ")
                    } else {
                        @("Edit ")
                    }
                    @Title
                </h1>

                <p class="page-subtitle">
                    @Subtitle
                </p>
            </div>

            

        </div>

        <div class="form-card">

            <EditForm Model="@Model" OnValidSubmit="Submit" FormName="@FormName">
                <DataAnnotationsValidator />
                <ValidationSummary />

                @if (!String.IsNullOrEmpty(message))
                {
                    <span class="alert-success">@message</span>
                }
                @if (!String.IsNullOrEmpty(errorMessage))
                {
                    <span class="alert-error">@errorMessage</span>
                }

                <div class="form-body">
                    @ChildContent
                </div>

                <div class="form-actions">

                    <Button 
                        Type="button"
                        HandleClick="OnCancel"
                            Classes="btn-cancel">
                            Cancel</Button>

                    <Button 
                        Type="submit"
                        Classes="btn-submit"
                        Loading="@isLoading"
                        Disabled="@isLoading"
                        >Save</Button>
                </div>

            </EditForm>

        </div>

    </div>
</div>

@code {
    private string message = "";
    private string errorMessage = "";
    private bool isLoading = false;

    [Parameter] public required string Title { get; set; }
    [Parameter] public required bool isEdit { get; set; } = false;

    [Parameter]
    public string Subtitle { get; set; }
        = "Fill in the details below.";

    [Parameter] public string BackUrl { get; set; } = "/";

    [Parameter] public object? Model { get; set; }

    [Parameter] public RenderFragment? ChildContent { get; set; }

    [Parameter] public Func<Task<string>>? OnSubmit { get; set; }

    [Parameter] public EventCallback OnCancel { get; set; }

    [Parameter] public string? FormName { get; set; }


    private async Task Submit()
    {
        isLoading = true;
        message = "";
        errorMessage = "";

        try
        {  
            if (OnSubmit != null)
            {
                string err = await OnSubmit.Invoke();

                if (string.IsNullOrEmpty(err))
                {
                    message = $"Succefully submitted {Title}";
                } else {
                    errorMessage = err;
                }
            }
        } finally
        {
            isLoading = false;
        }
    }
}