@page "/app/profile-template"
@rendermode InteractiveServer

@inject HttpClient Http
@using TimeManager.Frontend.Components.Pages.Admin._Components
@using TimeManager.Frontend.Components.Wrapper

<PageTitle>Profile Template</PageTitle>

<ListWrapper 
    Title="Profile Template"
    Subtitle="Manage the profile templates"
    Headers="@headers"
    CreateUrl="/app/profile-template/create"
    isEmpty="isEmpty"
>
    @foreach (ProfileTemplateModel pt in pTModels)
    {
        <tr class="table-row">
            <td class="table-cell">@pt.Unit?.Name</td>
            <td class="table-cell">@pt.Role?.Name</td>
            <td class="table-cell">@pt.EmployeeType?.Name</td>
            <td class="table-cell">@pt.ShiftStartTime</td>
            <td class="table-cell">@pt.EarlyClockInBufferMin min</td>
            <ActionTD Url="@($"/app/profile-template/edit/{pt.Id}")"
                DeleteUrl="@($"api/profiletemplate/{pt.Id}")"
                OnDeleteSuccess="LoadDataAsync"
            />
        </tr>
    }
    </ListWrapper>

@code {
    private string[] headers { get; set; } = ["Unit", "Role", "Employee Type", "Shift Time", "Buffer clock in"];
    private ProfileTemplateModel[] pTModels = [];

    private async Task LoadDataAsync()
    {
        try
        {
            pTModels = await Http.GetFromJsonAsync<ProfileTemplateModel[]>("/api/profiletemplate");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadDataAsync();
    }

    private bool isEmpty => pTModels.Length == 0;
}
