@using TimeManager.Backend.Models.Components
@using TimeManager.Backend.Models.Responses
@using TimeManager.Backend.ViewModels
@model PagedResponse<ProfileTemplateViewModel>

@{
    Layout = "_ListWrapper";
    ViewData["Title"] = "Profile Template";

    List<string> Headers = ["Unit", "Role", "Shift Start Time", "Early Clock in buffer"];
    ViewData["Headers"] = Headers;
    ViewData["ModuleTitle"] = "Profile Template";
    ViewData["ModuleDesc"] = "Manage the profile templates in the department";
    ViewData["Controller"] = "ProfileTemplate";

    ViewData["HasPagination"] = true;
    ViewData["TotalPages"] = Model.TotalPages;
    ViewData["CurrentPage"] = Model.PageNumber;
    ViewData["TotalRecords"] = Model.TotalRecords;
    ViewData["PageSize"] = Model.PageSize;
}

@if (Model.Data.Count() <= 0)
{
    <tr>
        <td colspan="@Headers.Count"
            class="table-empty-cell">
            No data available
        </td>
    </tr>
}
else
{
    foreach (var d in Model.Data)
    {
        <tr class="table-row">
            <td class="table-cell">@d.Unit</td>
            <td class="table-cell">@d.Role</td>
            <td class="table-cell">@d.ShiftStartTime</td>
            <td class="table-cell">@d.EarlyClockInBufferMin min</td>
            @await Html.PartialAsync("ActionTd", new ActionTdViewModel
            {
                Controller = "ProfileTemplate",
                Id = d.Id,
            })
        </tr>
    }
}